.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.left-area {
  margin-left: 8px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-area {
  cursor: pointer;
  text-decoration: none;
  margin: 12px 0 0 12px;
}

.button-group {
  display: flex;
  flex-direction: row;
}

.button-1 {
  background-color: #A1586D;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  transition: 200ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: fit-content;
  margin-top: 16px;
}

.button-1:hover,
.button-1:focus {
  background-color: #FCA4CE;
}

.button-2 {
  margin-left: 16px;
  background-color: #FC7C73;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  transition: 200ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 16px;
}

.button-2:hover,
.button-2:focus {
  background-color: #FEC8A9;
}

.config-area {
  margin: 16px;
  width: 100%;
  height: 100%;
}

.layer-image {
  border-radius: 16px;
  border: solid #555;
}

.loading-text-container {
  border-radius: 16px;
  border: solid #555;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: grey;
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
}

.item-container {
  border-radius: 16px;
  min-width: 100%;
  border: dashed rgb(114, 57, 57);
}

.item-image {
  border-radius: 12px;
  margin: 4px 0 0 4px;
  display: inline-block;
  object-fit: contain;
  border: dashed rgb(62, 62, 143);
  cursor: pointer;
  transition: 200ms;
}

.item-image:hover,
.item-image:focus {
  border: solid #F082AC;
}

.item-image-selected {
  border-radius: 12px;
  margin: 4px 0 0 4px;
  display: inline-block;
  object-fit: contain;
  border: solid #f0e982;
  cursor: default;
}

.color-container {
  border-radius: 16px;
  min-width: 100%;
  margin-top: 4px;
  border: dashed rgb(44, 90, 44);
}

.color-image {
  border-radius: 50%;
  margin: 8px 0 0 8px;
  display: inline-block;
  object-fit: contain;
  border: 4px solid grey;
  cursor: pointer;
  transition: 200ms;
}

.color-image:hover,
.color-image:focus {
  border: 4px solid #F082AC;
}

.color-image-selected {
  border-radius: 50%;
  margin: 8px 0 0 8px;
  display: inline-block;
  object-fit: contain;
  border: 4px solid white;
  cursor: default;
}

.tab-image {
  border-radius: 8px;
}