.App {
  /* text-align: center; */
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.image-area {
  min-width: 600px;
  width: 600px;
  min-height: 600px;
  height: 600px;
  cursor: pointer;
}

.config-area {
  width: 100%;
  height: 100%;
}

.layer-image {
  position: absolute;
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
}

.item-container {
  border: dashed red;
}

.item-image {
  border: dashed blue;
  cursor: pointer;
}

.item-image-selected {
  border: solid magenta;
  cursor: default;
}

.color-container {
  border: dashed green;
}

.none-button {
  min-width: 160px;
  min-height: auto;
}